@font-face {
    font-family: 'Jost';
    src: url('/fonts/Jost.woff2');
}

:root {
    --bg-color: rgb(225, 225, 225);
    --primary-fg-color: rgb(30, 30, 30);
    --secondary-fg-color: rgb(60, 60, 60);
    --border-color: rgb(165, 165, 165);
    --accent-color: 251, 101, 151;
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
    background-color: var(--bg-color);
    color: var(--primary-fg-color);
    font-family: 'Jost', sans-serif;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
